<link rel="stylesheet" href="./ui/styles/footer_residentes.css" />

<div id="modal-residentes" class="modal hidden">
  <div class="modal-content">
    <h2>Gestión de Residentes</h2>

    <div class="filters">
      <input type="text" id="search-resident-input" placeholder="Buscar por nombre, apellido, DNI, sexo o pabellón" />
    </div>

    <div class="table-container">
      <table id="residentes-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Sexo</th>
            <th>Fecha Nacimiento</th>
            <th>Edad</th>
            <th>Pabellón</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="pagination"></div>

    <div class="modal-buttons">
      <button id="add-resident-btn">Agregar nuevo</button>
      <button id="close-resident-modal-btn">Cerrar</button>
    </div>
  </div>
</div>
